.env
vector_database/.env

ingestion_service/.env
ingestion_service/venv
ingestion_service/__pycache__
ingestion_service/processors/__pycache__

agentic_rag_agent/.env
agentic_rag_agent/venv

